<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Vehicle Brand -->
    <preference for="Curso\Vehicle\Api\Data\VehicleBrandInterface" type="Curso\Vehicle\Model\VehicleBrand" />
	<preference for="Curso\Vehicle\Api\VehicleBrandRepositoryInterface" type="Curso\Vehicle\Model\VehicleBrandRepository" />
	<virtualType name="VehicleBrandGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Curso\Vehicle\Model\ResourceModel\VehicleBrand\Collection</argument>
        </arguments>
    </virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vehicle_vehiclebrand_listing_data_source" xsi:type="string">Curso\Vehicle\Model\ResourceModel\VehicleBrand\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Curso\Vehicle\Model\ResourceModel\VehicleBrand\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">vehicle_brand</argument>
            <argument name="eventPrefix" xsi:type="string">vehiclebrand_vehiclebrand_collection</argument>
            <argument name="eventObject" xsi:type="string">vehiclebrand_collection</argument>
            <argument name="resourceModel" xsi:type="string">Curso\Curso\Model\ResourceModel\VehicleBrand</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Curso\Vehicle\Api\Data\VehicleBrandInterface" xsi:type="string">Curso\Vehicle\Api\VehicleBrandRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <!-- Vehicle model -->
    <preference for="Curso\Vehicle\Api\Data\VehicleModelInterface" type="Curso\Vehicle\Model\VehicleModel" />
	<preference for="Curso\Vehicle\Api\VehicleModelRepositoryInterface" type="Curso\Vehicle\Model\VehicleModelRepository" />
    <virtualType name="VehicleModelGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Curso\Vehicle\Model\ResourceModel\VehicleModel\Collection</argument>
        </arguments>
    </virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vehicle_vehiclemodel_listing_data_source" xsi:type="string">Curso\Vehicle\Model\ResourceModel\VehicleModel\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Curso\Vehicle\Model\ResourceModel\VehicleModel\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">vehicle_model</argument>
            <argument name="eventPrefix" xsi:type="string">vehiclemodel_vehiclemodel_collection</argument>
            <argument name="eventObject" xsi:type="string">vehiclemodel_collection</argument>
            <argument name="resourceModel" xsi:type="string">Curso\Vehicle\Model\ResourceModel\VehicleModel</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Curso\Vehicle\Api\Data\VehicleModelInterface" xsi:type="string">Curso\Vehicle\Api\VehicleModelRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <!-- Vehicle Vehicle -->
    <preference for="Curso\Vehicle\Api\Data\VehicleVehicleInterface" type="Curso\Vehicle\Model\VehicleVehicle" />
	<preference for="Curso\Vehicle\Api\VehicleVehicleRepositoryInterface" type="Curso\Vehicle\Model\VehicleVehicleRepository" />
	<virtualType name="VehicleVehicleGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Curso\Vehicle\Model\ResourceModel\VehicleVehicle\Collection</argument>
        </arguments>
    </virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vehicle_vehiclevehicle_listing_data_source" xsi:type="string">Curso\Vehicle\Model\ResourceModel\VehicleVehicle\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Curso\Vehicle\Model\ResourceModel\VehicleVehicle\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">vehicle_vehicle</argument>
            <argument name="eventPrefix" xsi:type="string">vehiclevehicle_vehiclevehicle_collection</argument>
            <argument name="eventObject" xsi:type="string">vehiclevehicle_collection</argument>
            <argument name="resourceModel" xsi:type="string">Curso\Curso\Model\ResourceModel\VehicleVehicle</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Curso\Vehicle\Api\Data\VehicleVehicleInterface" xsi:type="string">Curso\Vehicle\Api\VehicleVehicleRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
</config>
